{% extends 'MainTemplate.html' %}
{% load widget_tweaks %}
{% block EditCategory %}

<div class="row">
    <h2  class='d-flex justify-content-center mt-5'>Edit Category</h2>
</div>
<div class="d-flex justify-content-center my-5">
    <form method="post" action="{%url 'EditCategory' cat_id=category.id%}">

        {%csrf_token%}
        <label>title :</label>
        {%render_field form.title class="form-control"%}
        <br>
        <label>Parent Group : </label>
        {%render_field form.parent class="form-control"%}
        <div class="d-flex justify-content-center my-3">
        <button class='btn btn-warning'type="submit">Edit Category</button>
        <a href="/blog/category_Archive/" class='p-2'>back to Category page</a>
        </div>

    </form>
</div>
{% endblock EditCategory %}