{% comment %} {% extends 'ManagerTemplate/MainManagerPage.html' %} {% endcomment %}
{% extends 'ManagerTemplate/OrderTemplate/ListOrder.html' %}
{% load widget_tweaks %} 
{% load static %} 
{% block Chart %}

<div>
  <div class="row">
    <div class="mx-1">
      <canvas id="population-chart" width="400" height="100" data-url="{% url 'population-chart' %}"></canvas>
      {%csrf_token%}
      <script>
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]')
          var $populationChart = $("#population-chart");
          $.ajax({
          url: "http://localhost:8000/manage_order/ListOrderGraph/",
          headers: {
          'X-CSRFToken': csrftoken
          },
          success: function (data) {
          console.log('data label', data)
     
          }
          });
      </script>
    </div>
  </div>

</div>
{% endblock Chart %}
